<!DOCTYPE html>
<html ng-app="dimap">
	<head>
		<title>
			OpenLayers-Angular
		</title>
		<link rel="stylesheet" href="style.css" type="text/css">
		<script type="text/javascript" src="angular.min.js"></script>
  		<script src="./OpenLayers-2.13.1/OpenLayers.debug.js"></script>
  		<script src="./main.js"></script>
  		<link rel="stylesheet" href="map.css" type="text/css">
	</head>
	<body>
		<!-- Left Side Menu -->
		<div id="leftnavigation" ng-controller="LoadLayersController as layer">
    		<h1>Layers</h1>
    		<ul>
      			<li><input type="checkbox" id="wells" ng-click="layer.loadWells()">Wells</li>
      			<li><input type="checkbox" id="contracts" ng-click="layer.loadContracts()">Contracts</li>
    		</ul>
  	</div>

  		<!-- Map Content -->
  	<div id="content" ng-controller="LoadMapController">
    		<h1 id="title">DrillingInfo Map</h1>

    		<div id="tags">
        		Bing, Microsoft, Virtual Earth, light
    		</div>
    		<div id="map" class="bigmap"></div>
    		<div id="docs"><p>This example demonstrates loading multiple layers on Bing map using Angular.JS</p></div>
  	</div>
	</body>
</html>